<form (ngSubmit)="onSubmit(p)" #p="ngForm">
<div class="container">
    <div class="design">
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
    </div>
    
    <div class="login">
        <p style="color: red;">{{invalid}}</p>
        <h3 class="title">User Login</h3>
        <div class="text-input">
            <i class="ri-user-fill"></i>
            <input type="text" placeholder="Email" name="email" [(ngModel)]="getEmail">
        </div>
        <div class="text-input">
            <i class="ri-lock-fill"></i>
            <input type="password" placeholder="Password" name="password" [(ngModel)]="getPassword">
        </div>
        <button class="login-btn" type="submit">LOGIN</button>
       
        <div class="create">
            <a routerLink="../subscribe">Create Your Account</a>
            <i class="ri-arrow-right-fill"></i>
        </div>
    </div>

</div>
</form>