<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <main class="container-fluid">
    <header class="row mx-1 my-4 me-md-5 ms-md-3">
      <section class="col-4 text-start">
        <img src="../assets/logo.png" alt="Logo">
      </section>
      <section class="col-4 text-center" >Search bar </section>
      <section class="col-4 text-end">Profile</section>
    </header>
  </main>
</body>
</html>