<div class="d-flex justify-content-around">
    <div class="competence col-8">
        <div class="d-flex justify-content-between">
            <div class="col-3 cards">
                <h6>Membres Total</h6>
                <div class="d-flex justify-content-around cardsdiv align-items-center">
                    <img src="../../assets/membretotal.png" alt="">
                    <p >77OK</p>
                </div>
            </div>
            <div class="col-3 cards">
                <h6>Developpement</h6>
                <div class="d-flex justify-content-around align-items-center">
                    <img src="../../assets/developpement.png" alt="">
                    <div class="p d-flex align-items-center justify-content-center"> 
                        <igx-circular-bar
                        [value]="66"
                        [animate]="true"
                        class="custom-size"
                    ></igx-circular-bar>
                     </div>
                </div>
            </div>
            <div class="col-3 cards">
                <h6>Infrastructure</h6>
                <div class="d-flex justify-content-around align-items-center">
                    <img src="../../assets/infras.png" alt="">
                        <div class="p d-flex align-items-center justify-content-center"> 
                            <igx-circular-bar
                            [value]="34"
                            [animate]="true"
                            class="custom-size"
                        ></igx-circular-bar>
                        
                           <div class="overlay"></div> 
                        </div>
                </div>
            </div>
        </div>
        <div>
            <igx-carousel class="carousel">
                <ng-container *ngFor="let slideData of carouselData">
                  <igx-slide class="d-flex justify-content-between">
                    <div *ngFor="let cardData of slideData" class="cards m-3" (click)="navigateToPage()" style="cursor: pointer;">
                      <div>
                        <div class="d-flex justify-content-center align-items-center p-3 cards_other">
                          <img [src]="cardData.img" alt="" style="height: 64px; width: 64px; border-radius: 50%;">
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                          <h4>{{ cardData.name }}</h4>
                          <p>{{ cardData.role }}</p>
                        </div>
                      </div>
                    </div>
                  </igx-slide>
                </ng-container>
              </igx-carousel>
              
        </div>
    </div>
    <div class="categorie col-3">
        <ol class="catbox">
            <h4 class="h4">Categorie<hr class="hr2"></h4>
                <li *ngFor="let element of categories" style="cursor: pointer;" (click)="onclick5(element.id)" [id]="element.id">{{ element.name }}<hr class="hr"></li>
        </ol>
    </div>
</div>