#textslider{ 
    margin-left: 32%;
    font-family: 'Lexend';
    font-weight: bold;
    margin-top: 0px;
}
.home_text{
    width: 50%;
}
.home_img{
    margin-top: 10%;
    width: 50%;
}
.abtn{
    background-color: #7d4ffe;
    margin-top: 5%;
    margin-left: 30%;
    color: white;
    font-family: 'Lato';
    border-radius: 10px;
}