<div class="px-4  mt-5 pt-2 d-flex">
    <div class="home_text">
      <img src="../assets/logo_home.png" alt="">
      <p id="textslider">{{ paragraphContent }}</p>
      <a class="btn abtn" routerLink="login" role="button" [ngStyle]="{ 'display' : naturalstate() ? 'none':'inline' }">Se Connecter</a>
      <a class="btn abtn" (click)="deconnecter()" role="button" [ngStyle]="{ 'display' : !naturalstate() ? 'none':'inline' }">Se Deconnecter</a>
      <a class="btn ms-5 abtn "routerLink="subscribe" role="button" [ngStyle]="{ 'display' : naturalstate()===true ? 'none' :'inline' }">S'enregistrer</a>
    </div>
    <div class="home_img">
      <img src="../assets/home_img.png" alt="">
    </div>
  </div>