//Conteneur du gauche
.container1{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background: #d9d9d9;
width: 44%;
height: 44%;
margin-left: 30px;
border-radius: 50px;
margin-right: 35px;
}
.Profile{
box-sizing: border-box;
img{
border-radius: 50%;
width: 170px;
height: 170px;
margin-left: 20px;
margin-bottom: 20px;
margin-top: 30px; 
 }
}

//Métier de l'utilisateur
.title h2{
     justify-content: center;
     align-items: center;
     text-align: center;
}
.title{
    margin-top: 20px;
}

//Div sous forme de border radius
.mb{
    width: 200px;
    border-radius: 25px;
    background-color: #7d4ffe;
}
p{
    text-align: center;
    color: #fff;
    font-family: 'Lato';
    font-weight: bold;
    margin-top: 10px;
}
.userform{
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
}
.row1{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;
}
.row1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
    margin-left: 25px;
}
.row2{
    display:flex;
    flex-direction: row;
}
.row2 div{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    margin-left: 25px;
}
.row3{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 22px;
    
}
.Profile{
    position: relative;
}

//Icone caméra
.icon-camera{
    position: absolute;
    top:80%;
    right: 10%;
    color:#7d4ffe;
    transform: scale(1.5);
    cursor: pointer;
}

    button{
        border-radius: 14px;
        padding: 10px;
        // background-color: #7d4ffe;
        border: none;
        color: white;
        font-family: 'Lato';
        font-size: 20px;
}

.bouton_ajout{
    background-color: #7d4ffe;
    
    
}
.bouton_modif{
    background-color: #7d4ffe;

}
.btnsave{
    background-color: #7d4ffe;
}
.btncancel{
    background-color:#7d4ffe;
    margin-left: 250px;
}

// Conteneur de droite
.container2{
align-items: center;
background: #d9d9d9;
width: 44%;
height: 44%;
border-radius: 50px;

}
.skills h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
}

li{
    font-size: 93%;
}

.list-group{
    list-style: none;
    font-family: 'Lato';
    font-size: 24px;
    margin: 10px;
   padding: 15px;
}
.principal{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
   
}

.list-progres{
    display: grid;
    float: right;
    margin: 10px;
    padding: 15px;
   

}

.form{
    display: flex;
    justify-content:space-between ;
}

.barre-progress {
    background-color: #f0f0f0;
    height: 10px;
    width: 100px;
    border-radius: 25px;
    margin-top: 10px;
  }
.progress {
  height: 100%;
  width: 50%; /* Ajustez le pourcentage pour la progression */
  background-color: #7d4ffe; /* Couleur de la barre de progression */
  border-radius: 25px;
}

.ajout{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 50px;
    background-color: #7d4ffe;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 20px;
}


//Pop-up
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    display: flex;
    flex-direction: row;
    font-family: 'lato';
    font-weight: bold;
}
.d-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-top: 30px;
}
.flex1 {
    display: flex;
    gap: 20px;
    border-radius: 25px;
}

.flex2 {
    display: flex;
    gap: 20px;
}

.bb{
    display: flex;
    justify-content:center;
    margin-top: 50px;
    border: none;
}
.bb .save{
    margin-right: 200px;
    background-color: #7d4ffe;
    color: #fff;
    margin-bottom: 10px;
}
.bb .delete{
    background-color: #7d4ffe;
    color: #fff;
    margin-bottom: 10px;
}

input{
    border-radius: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #7d4ffe;
    color: #fff;
    gap: 1;
}
select{
    background-color: #7d4ffe;
    color: #fff;
    text-align: center;
}
input::placeholder{
    text-align: center;
    color: #fff;
    
}
h5{
    color: #7d4ffe;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 30px;
}




