

<div class="principal">
    <div class="container1">
        <div class="Profile">
            <img src="../../assets/profilee.jpg" alt="UserPhoto">
            <i class="fa-solid fa-camera icon-camera"></i>
        </div>
        <div class="title">
            <h2>Développeur Full Stack</h2>
        </div>
        <div class="userform">
            <form>
                <div class="row1">
                    <div class="mb-3">
                        <input placeholder="Nom" type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" required>
                      </div>
                      
                    <div class="mb-3">
                        <input  placeholder="Prenom" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      </div>
                </div>
                
                <div class="row2">
                    <div class="mb-3">
                        <input placeholder="E-mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      </div>
              
                      <div class="mb-3">
                        <input placeholder="Téléphone" type="tel" class="form-control" id="exampleInputtel" required>
                      </div>
                </div>
                <div class="row3">
                    <button type="submit"  class="btn btn-primary">Modifier mes coordonnées</button>
                </div>
              </form>
        </div>
       
    </div>
    
    <div class="container2">
        <div class="skills">
            <h2>Mes Compétences</h2>
        </div>
        <div class="form">
           <div class="list-comp">
            <ul class="list-group">
                <li>Programmation java</li>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>Spring Boot</li>
                <li>Base de données</li>
                <li>Figma</li>
                <li>Angular</li>
                <li>Framework React</li>
             </ul>
        </div>
        <div class="list-progres">
          <div class="barre-progress">
            <div class="progress" style="width: 80%;"></div>
          </div>
          <div class="barre-progress">
            <div class="progress" style="width: 70%;"></div>
          </div>
          <div class="barre-progress">
            <div class="progress" style="width: 65%;"></div>
          </div>
          <div class="barre-progress">
            <div class="progress" style="width: 85;"></div>
          </div>
          <div class="barre-progress">
            <div class="progress" style="width: 50%;"></div>
          </div>
          <div class="barre-progress">
            <div class="progress"style="width: 60;"></div>
          </div>
          <div class="barre-progress">
            <div class="progress"style="width: 85%;"></div>
          </div>
          <div class="barre-progress">
            <div class="progress" style="width: 75%;"></div>
          </div>
        </div>
        </div>

        <div class="ajout">
            <button (click)="openDialog()" type="submit">Ajouter une compétence</button>
        </div>
       
       
       
        
    </div>
</div>

