<!-- Modal pour la selection d'images -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selectionner une image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Conteneur principal -->
<div class="principal">
    <div class="container1">
        <div class="Profile">
            <img src="../assets/profile.jpg" alt="UserPhoto">
            <i class="fa-solid fa-camera icon-camera"  data-bs-toggle="modal" data-bs-target="#exampleModal3"></i>
        </div>
        <div class="title" *ngFor="let user of user1">
            <h2>{{user.fonction}}</h2>
        </div>
        <div class="userform" *ngFor="let user of user1">
                <div class="row1">
                    <div class="mb" >
                        <p>{{user.nom}}</p>
                      </div>
                      
                    <div class="mb">
                      <p>{{user.prenom}}</p>
                      </div>
                </div>
                
                <div class="row2">
                    <div class="mb">
                        <p>{{user.email}}</p>
                      </div>
              
                      <div class="mb">
                        <p>{{user.telephone}}</p>
                      </div>
                </div>
                <div class="row3">
                    <button class="bouton_modif"data-bs-toggle="modal" data-bs-target="#exampleModal2" type="submit">Modifier mes coordonnées</button>
                </div>

        </div>
    </div>


<div class="container2">
        <div class="skills">
          <h2>Mes Compétences</h2>
        </div>
        <div class="form">
           <div class="list-comp">
            <ul class="list-group">
                <li *ngFor="let competence of comp1">{{competence.nom}}</li>
             </ul>
        </div>


        <div class="list-progres">
          <div class="barre-progress" *ngFor="let competence of comp1">
            <div class="progress" [style.width]="competence.niveau + '%'"
            [attr.aria-valuenow]="competence.niveau" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

        <div class="ajout">
          <button class="bouton_ajout" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter une compétence</button>
        </div>
    </div>
</div>

<!-- Modal Pour l'ajout de compétenance -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text costum text align" id="exampleModalLabel">AJOUTER UNE COMPETENCE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="was-validated">
          <div class="mb-3 mt-3">
            <input type="text" class="form-control" id="uname" placeholder="Entrer votre compétence" name="uname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Veuillez remplir le champ.</div>
          </div>
          <div class="mb-3">
            <select class="form-select mt-3">
              <option disabled selected value="">Veuillez choisir votre niveau</option>
              <option>Niveau débutant</option>
              <option>Niveau Intermédiare</option>
              <option>Niveau Senior</option>
              <option>Niveau Lead</option>
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Veuillez remplir le champ</div>
          </div>
          <button class="btnsave"  type="submit" (click)="ajouterCompetence()">Enregistrer</button>
          <button class="btncancel" data-bs-dismiss="modal"type="submit">Annuler</button>
        </form>
    </div>
    </div>
  </div>
</div>

<!-- Modal la modifiaction des données personnelles -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="th5">Modifications personnelles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div>
        <form>
          <div class="d-flex">
            <div class="flex1">
              <input type="email" placeholder="Enter email">
              <input type="password" placeholder="Password">
            </div>
          </div>

          <div class="d-flex">
            <div class="flex2">
              <input type="password" placeholder="Password">
              <input type="password" placeholder="Password">
            </div>
          </div>
          <div class="bb">
            <button type="button" class="save">Enregistrer</button>
            <button type="button" class="delete">Supprimer</button>
          </div>
           
        </form>
      </div>
    </div>
  </div>
</div>