<!-- Modal pour la selection d'images -->
<div class="modal fade cp2" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sélectionner une image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="image_container">
        <img src="/assets/cerre.png" (click)="sourcechange('cerre.png')" data-bs-dismiss="modal" alt="avatar 1" style="cursor: pointer;">
        <img src="/assets/chien.png" (click)="sourcechange('chien.png')" data-bs-dismiss="modal" alt="avatar 2" style="cursor: pointer;">
        <img src="/assets/mascot.png" (click)="sourcechange('mascot.png')" data-bs-dismiss="modal" alt="avatar 3" style="cursor: pointer;">
        <img src="/assets/sanglier.png" (click)="sourcechange('sanglier.png')" data-bs-dismiss="modal" alt="avatar 4" style="cursor: pointer;">
        <img src="/assets/renard.png" (click)="sourcechange('renard.png')" data-bs-dismiss="modal" alt="avatar 5" style="cursor: pointer;">
        </div>
      <div class="image_container">
        <img src="/assets/lion.png" (click)="sourcechange('lion.png')" data-bs-dismiss="modal" alt="avatar 6" style="cursor: pointer;">
        <img src="/assets/girafe.png" (click)="sourcechange('girafe.png')" data-bs-dismiss="modal" alt="avatar 7" style="cursor: pointer;">
        <img src="/assets/ours polaire.png" (click)="sourcechange('ours polaire.png')" data-bs-dismiss="modal" alt="avatar 8" style="cursor: pointer;">
        <img src="/assets/perroquet.png" (click)="sourcechange('perroquet.png')" data-bs-dismiss="modal" alt="avatar 9" style="cursor: pointer;">
        <img src="/assets/ours.png" (click)="sourcechange('ours.png')" data-bs-dismiss="modal" alt="avatar 10" style="cursor: pointer;">
      </div>
    </div>
  </div>
</div>
<!-- Modal for confirmation  -->
<div class="modal fade cp2" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-align-center" id="exampleModalLabel">Voulez vous supprimer</h4>
      </div>
      <div class="d-flex" style="flex-direction: row; justify-content: center;margin-bottom: 20px; margin-left: 0px;">
        <button class="" data-bs-dismiss="modal" (click)="delete()" style="margin-right: 5%; background-color:  #7d4ffe; color: white; padding: 15px;">Oui</button>
        <button class="" data-bs-dismiss="modal" (click)="notdelete()" style="margin-left: 5%; background-color: rgba(3, 3, 3, 0); border:1px solid #7d4ffe;padding: 10px; color:  #7d4ffe;">Non</button>
      </div>
    </div>
  </div>
</div>

<!-- Conteneur principal -->
<div class="principal">
    <div class="container1">
        <div class="Profile">
            <img [src]="'../assets/'+user1.img" alt="UserPhoto"  data-bs-toggle="modal" data-bs-target="#exampleModal3" style="cursor: pointer;">
            <i class="fa-solid fa-camera icon-camera"  data-bs-toggle="modal" data-bs-target="#exampleModal3" style="cursor: pointer;"></i>
        </div>
        <div class="title">
            <h6 style="text-transform: capitalize;">{{user1.fonction}}</h6>
        </div>
        <div class="userform">
                <div class="row1">
                    <div class="mb" >
                        <p>{{user1.nom}}</p>
                      </div>
                      
                    <div class="mb">
                      <p>{{user1.prenom}}</p>
                      </div>
                </div>
                
                <div class="row2">
                    <div class="mb">
                        <p>{{user1.email}}</p>
                      </div>
              
                      <div class="mb">
                        <p>{{user1.telephone}}</p>
                      </div>
                </div>
                <div class="row3">
                    <button class="bouton_modif"data-bs-toggle="modal" data-bs-target="#exampleModal2" type="submit">Modifier mes coordonnées</button>
                </div>

        </div>
    </div>


<div class="container2">
        <div class="skills">
          <h2>Mes Compétences</h2>
        </div>
        <div class="form">
           <div class="list-comp">
            <ul class="list-group">
                <li *ngFor="let competence of comp1" style="cursor: pointer;" (click)="setelement(competence.id)" data-bs-toggle="modal" data-bs-target="#exampleModal5">{{competence.nom}}</li>
             </ul>
        </div>


        <div class="list-progres">
          <div class="barre-progress" *ngFor="let competence of comp1">
            <div class="progress" [style.width]="competence.niveau + '%'"
            [attr.aria-valuenow]="competence.niveau" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

        <div class="ajout">
          <button class="bouton_ajout" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter une compétence</button>
        </div>
    </div>
</div>

<!-- Modal Pour l'ajout de compétenance -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text costum text align" id="exampleModalLabel">AJOUTER UNE COMPETENCE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <p style="color: red;">{{invalid2}}</p>
      <div class="modal-body">
        <form class="was-validated" (ngSubmit)="onSubmit2(b)" #b="ngForm">
          <div class="mb-3 mt-3">
            <input type="text" class="form-control" id="uname" placeholder="Entrer votre compétence" name="uname" [(ngModel)]="ncompname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Veuillez remplir le champ.</div>
          </div>
          <div class="mb-3">
            <select class="form-select mt-3" name="level" [(ngModel)]="nniveau">
              <option disabled selected value="0">Veuillez choisir votre niveau</option>
              <option value="0">Aucune notion</option>
              <option value="25">Niveau débutant</option>
              <option value="50">Niveau Intermédiare</option>
              <option value="75">Niveau Senior</option>
              <option value="90">Niveau Lead</option>
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Veuillez remplir le champ</div>
          </div>
          <button class="btnsave" data-bs-dismiss="modal" type="submit" >Enregistrer</button>
          <button class="btncancel" data-bs-dismiss="modal" type="close">Annuler</button>
        </form>
    </div>
    </div>
  </div>
</div>

<!-- Modal la modifiaction des données personnelles -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
      <div class="modal-header">
        <h5 class="th5">Modifications personnelles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <p style="color: red;">{{invalid}}</p>
      <div>
        <form (ngSubmit)="onSubmit(a)" #a="ngForm">
          <div class="d-flex">
            <div class="flex1">
              <input type="text" name="nom" placeholder="Entrer votre nom" [(ngModel)]="nnom">
              <input type="text" name="prenom" placeholder="Entrer votre prenom" [(ngModel)]="nprenom">
            </div>
          </div>
          <div class="d-flex">
            <div class="flex2">
              <input type="email" name="email" [(ngModel)]="nemail" placeholder="Entrer votre email">
              <input type="tel" name="tel" [(ngModel)]="ntel" placeholder="Enter votre numéro">
            </div>
          </div>
              <div class="d-flex">
                <div class="flex2">
                  <input type="password" name="password" [(ngModel)]="npassword" placeholder="Mot de passe">
                  <input type="password" name="cpassword" [(ngModel)]="cpassword" placeholder="Confirmer">
                </div>
              </div>
              <div class="d-flex">
                <div class="flex2">
                  <input type="text" name="fonction" [(ngModel)]="nfonction" placeholder="Entrer votre fonction">
                  <select name="categorie" [(ngModel)]="ncategorie">
                    <option value="-1" selected></option>
                    <option *ngFor="let option of categories" [value]="option.id">{{ option.name }}</option>
                  </select>
                </div>
                </div>
            <div class="bb">
              <button type="submit" style="cursor: pointer;" data-bs-dismiss="modal" class="save">Enregistrer</button>
              <button type="button" data-bs-dismiss="modal" class="delete">Annuler</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>