<div class="container">
    <div class="design">
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
    </div>
    <div class="login">
        <h3 class="title">Subscribe !!{{nomy}}</h3>
        <div class="text-input">
            <i class="ri-user-fill"></i>
            <input type="text" placeholder="Nom" [(ngModel)]="nom">
        </div>
        <div class="text-input">
            <i class="ri-user-fill"></i>
            <input type="text" placeholder="Prenom" [(ngModel)]="prenom">
        </div>
        <div class="text-input">
            <i class="ri-user-fill"></i>
            <input type="text" placeholder="Email" [(ngModel)]="email">
        </div>
        <div class="text-input">
            <i class="ri-lock-fill"></i>
            <input type="password" placeholder="Mot de passe" [(ngModel)]="password">
        </div>
        <button class="login-btn" type="submit" (onClick)="adduser()">Subscribe</button>
        
    </div>
</div>
